<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>Welcome to Programmer Fox Club!</h2>
    <p>Please provide a name, so you can associate it to your pet!</p>

    <form action="/login" method="post">
        <label for="name" >Name:</label>
        <input type="text" name="name" id="name" required>
        <input type="submit" value="GO">
    </form>
</div>

</body>
</html>