<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
<table class="table table">
    <thead class="thead-dark">
    <tr>
        <th>Add new student</th>
    </tr>
    </thead>
    <tr>
        <td>
        <form action="/gfa/save">
            <label for="name">Students name:</label>
            <input id="name" type="text" name="name"/>
            <input type="submit" value="save"/><br>
        </form>
        </td>
    </tr>
    <tr>
        <td th:text="${check}?'Name is already used':''"></td>
    </tr>
</table>
<form action="/gfa">
    <input type="submit" value="Home" />
</form>
</body>
</html>