<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Balance</th>
                <th>Animal Type</th>
            </tr>
        </thead>
        <tr>
            <td th:text="${myAccount.getName()}"></td>
            <td th:text="${myAccount.getBalanceString()} +' '+ ${myAccount.currency}"></td>
            <td th:text="${myAccount.getAnimalType()}"></td>
        </tr>
    </table>
</div>
</body>
</html>