

/*body{*/
/*    width: 70%;*/
/*    background-color: lightgray;*/
/*    font-family: "Century Gothic";*/
/*    font-weight: lighter;*/
/*}*/
h1{
    color: #106cff;
    border-bottom: #106cff 2px solid;
    font-size: 40px;
}
/*table{*/
/*    alignment: center;*/
/*    margin: auto;*/
/*    margin-top: 100px;*/
/*    background: white;*/
/*    padding: 10px 50px 50px 70px;*/
/*}*/
/*th{*/
/*    alignment: left;*/
/*}*/

/*.button{*/
/*    padding: 5px 5px 5px 5px;*/
/*}*/