<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="py-4">
<div class="container">

<form method="post" action="/add" th:object="${newTodo}">
    <div class="form-group">
        <label for="filltext">Write your task</label>
        <input th:field="*{title}" type="text" class="form-control" placeholder="Buy milk etc." id="filltext">
        <input th:field="*{id}" type="hidden">
    </div>
    <div class="form-group form-check">
        <input class="form-check-input" th:field="*{done}" type="checkbox" id="done">
        <label class="form-check-label" for="done">Done</label><br>
        <input class="form-check-input" th:field="*{urgent}" type="checkbox" id="urgent">
        <label class="form-check-label" for="urgent">Urgent</label>
    </div>
    <button type="submit" class="btn btn-primary" >Add</button>
</form>
<form method="get" action="/">
    <input type="submit" class="btn btn-danger btn-sm" value="Cancel">
</form>


</div>
</body>
</html>